<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <link rel="stylesheet" href="{% static 'css/styleorderdetails.css' %}">
</head>
<body>
    <div class="order_status">
        <h2>Order Status : {{status}}</h2>
    </div>
    <div class="order-details-container">
        {% for order_item in order_items %}
            <div class="order-item">
                <img src="{{ order_item.item.image.url }}" alt="{{ order_item.item.dish }}" class="item-image">
                <div class="item-info">
                    <h3 class="item-name">{{ order_item.item.dish }}</h3>
                    <p class="item-quantity">Quantity: {{ order_item.quantity }}</p>
                </div>
            </div>
        {% empty %}
            <p class="no-items">No items found in this order.</p>
        {% endfor %}

        <div class="order-total">
            <h2>Total: ₹{{ grandtotal }}</h2>
        </div>
    </div>
</body>
</html>
